<tbody>
    <% if (typeof airbnbList !== 'undefined' && airbnbList.length > 0) { %>
        <% airbnbList.forEach(item => { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.neighbourhood %></td>
                <td><%= item.room_type %></td>
                <td><%= item.price %></td>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td colspan="4">ไม่พบข้อมูล หรือยังไม่ได้ส่งข้อมูลมา</td>
        </tr>
    <% } %>
</tbody>